.custom-table .ant-table-content::-webkit-scrollbar {
  height: 8px;
}
.custom-table .ant-table-content::-webkit-scrollbar-track {
  padding: 5px;
  background: #f4f9fe;
  mix-blend-mode: multiply;
}
.custom-table .ant-table-content::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 3px solid transparent;
}
.custom-table table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
.custom-table table .ant-checkbox .ant-checkbox-inner:after {
  border-spacing: 0px;
}
.custom-table table .ant-table-thead th.ant-table-column-sort {
  background-color: transparent !important;
}
.custom-table table .ant-table-thead th {
  background-color: transparent;
  color: #344054;
  padding: 5px 15px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  border: none;
}
.custom-table table .ant-table-thead th::before {
  display: none;
}
.custom-table table .ant-table-tbody .ant-table-row {
  background: #f4f9fe;
  mix-blend-mode: multiply;
  margin-bottom: 20px;
}
.custom-table table .ant-table-tbody .ant-table-row td {
  font-family: "Inter";
  color: #2095f2;
  font-size: 12px;
  font-weight: 500;
  border-top: 1px solid #d2eafc;
  border-bottom: 1px solid #d2eafc;
  padding: 8px 12px;
}
.custom-table table .ant-table-tbody .ant-table-row td .ant-tag {
  font-family: "Inter";
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.custom-table table .ant-table-tbody .ant-table-row td:first-child {
  border-left: 1px solid #d2eafc;
  border-right: none;
  border-radius: 24px 0px 0px 24px;
}
.custom-table table .ant-table-tbody .ant-table-row td:last-child {
  border-right: 1px solid #d2eafc;
  border-left: none;
  border-radius: 0px 24px 24px 0px;
}
.custom-table table .ant-table-tbody .ant-table-row td .action-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--primary);
  border: none;
  transition: 0.3s;
  font-family: "Inter" !important;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 50px;
}
.custom-table table .ant-table-tbody .ant-table-row td .action-btn i {
  font-size: 16px;
}
.custom-table table .ant-table-tbody .ant-table-row td .action-btn:hover {
  background-color: #0b76ce;
  color: #fff;
}
.custom-table table .ant-table-tbody .ant-table-row td .action-btn:disabled, .custom-table table .ant-table-tbody .ant-table-row td .action-btn.action-disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
  background-color: #13336a;
}
.custom-table table .ant-table-tbody .ant-table-row td .action-btn.secondary-btn {
  background-color: #fff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #344054;
}
.custom-table table .table-upload label {
  cursor: pointer;
}
.custom-table table .table-upload input {
  display: none;
}
.custom-table table th.ant-table-cell-fix-right {
  background-color: #ffffff !important;
}
.custom-table table td.ant-table-cell-fix-right {
  background-color: #f4f9fe !important;
}
.custom-table .custom-form input {
  font-size: 14px;
  padding: 6px 12px;
}

.ant-table-wrapper.custom-table-light .ant-table-thead .ant-table-cell {
  background: #fff;
  color: #475467;
  border: none;
  border-bottom: 1px solid #eaecf0;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  padding: 12px 24px;
}
.ant-table-wrapper.custom-table-light .ant-table-thead .ant-table-cell i {
  font-size: 14px;
}
.ant-table-wrapper.custom-table-light .ant-table-thead .ant-table-cell::before {
  display: none;
}
.ant-table-wrapper.custom-table-light .ant-table-tbody .ant-table-row td {
  font-family: "Inter";
  color: #101828;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid #eaecf0;
  background: #f9fafb;
  padding: 16px 24px;
}
.ant-table-wrapper.custom-table-light .ant-table-tbody .ant-table-row td .ant-tag {
  font-family: "Inter";
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.ant-table-wrapper.custom-table-light .ant-table-tbody .ant-table-row td .action-btn {
  display: flex;
  align-items: center;
  color: #475467;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  font-family: "Inter" !important;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 8px;
}
.ant-table-wrapper.custom-table-light .ant-table-tbody .ant-table-row td .action-btn:hover {
  color: var(--primary);
}
.ant-table-wrapper.custom-table-light .ant-table-tbody .ant-table-row td .action-btn.delete-btn:hover {
  color: #ce0e0e;
}

.custom-modal {
  font-family: "Inter";
}
.custom-modal .ant-modal-content {
  padding: 0px;
  border-radius: 18px;
  overflow: hidden;
}
.custom-modal .ant-modal-header {
  padding: 15px 20px;
  margin-bottom: 0px;
  background-color: var(--secondary);
}
.custom-modal .ant-modal-header .ant-modal-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.custom-modal .ant-modal-body {
  padding: 20px 40px 5px;
}
.custom-modal .ant-modal-footer {
  text-align: center;
  padding-bottom: 20px;
}
.custom-modal .ant-modal-footer button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  color: #7c7c7c;
  margin-inline-start: 0px !important;
  margin: 0px 10px;
  padding: 6px 25px;
  border-radius: 8px;
  height: auto;
}
.custom-modal .ant-modal-footer button:disabled {
  opacity: 0.8;
  color: #fff;
  background-color: var(--primary);
}
.custom-modal .ant-modal-footer button.ant-btn-primary {
  color: #fff;
  background-color: var(--primary);
}
.custom-modal .ant-modal-close {
  top: 10px;
  color: #fff;
}
.custom-modal .ant-modal-close:hover {
  background-color: transparent;
  color: #ce0e0e;
}
.custom-modal .ant-modal-close .ant-modal-close-x {
  font-size: 20px;
}

.custom-switch .ant-switch-inner span {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 500;
}
.custom-switch.ant-switch-small .ant-switch-inner span {
  font-size: 10px;
  font-weight: 700;
}

.ant-tooltip-inner {
  font-weight: 600;
}

.ant-notification-notice-message {
  margin-bottom: 0px !important;
}

.custom-confirm .popup-icon {
  display: inline;
  color: #e3c20b;
  font-size: 22px;
}
.custom-confirm h5 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}
.custom-confirm p {
  font-family: "Inter";
  font-size: 16px;
  margin-bottom: 0px;
}
.custom-confirm p span {
  font-weight: 700;
  color: #810000;
}
.custom-confirm .ant-modal-confirm-btns {
  margin-top: 20px;
  text-align: center;
}
.custom-confirm .ant-modal-confirm-btns button {
  font-family: "Inter";
}
.custom-confirm .ant-modal-confirm-btns button.btn-red:hover {
  background-color: #ce0e0e;
}

.custom-datepicker {
  border: none;
  padding: 7.5px 13px;
  border: 1px solid #d0d5dd !important;
  border-radius: 8px !important;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.custom-datepicker.ant-picker-disabled {
  background-color: #e4e4e4;
}
.custom-datepicker .ant-picker-input input {
  font-family: "Inter";
  font-size: 14px;
  box-shadow: none;
}
.custom-datepicker .ant-picker-input input:disabled {
  color: rgba(0, 0, 0, 0.5);
}
.custom-datepicker.bordered {
  width: 100%;
  border: 1px solid #868686;
  box-shadow: none;
}

.input-error .custom-datepicker {
  border-color: #df1010;
}
.input-error .custom-datepicker input {
  border: none;
}
.input-error .ant-select.custom-select .ant-select-selector {
  border-color: #df1010 !important;
}

.custom-image-loader {
  width: 100% !important;
  height: 300px !important;
  border-radius: 12px !important;
  overflow: hidden;
}
.custom-image-loader.bg-white {
  position: relative;
  height: 260px !important;
}
.custom-image-loader.bg-white::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 12px !important;
  z-index: -1;
  background-color: #ffffff;
}

.ant-pagination.custom-pagination .ant-pagination-item {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  min-width: 30px;
  height: 30px;
  line-height: 27px;
}
.ant-pagination.custom-pagination .ant-pagination-item:hover {
  background-color: #d4d4d4;
}
.ant-pagination.custom-pagination .ant-pagination-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #7c7c7c;
  border-radius: 6px;
}
.ant-pagination.custom-pagination .ant-pagination-item-active {
  color: #fff;
  background-color: var(--primary);
}
.ant-pagination.custom-pagination .ant-pagination-item-active:hover {
  background-color: var(--primary);
}
.ant-pagination.custom-pagination .ant-pagination-disabled .ant-pagination-item-link {
  color: var(--secondary);
}
.ant-pagination.custom-pagination .ant-pagination-prev,
.ant-pagination.custom-pagination .ant-pagination-next {
  min-width: 25px;
  height: 30px;
}

.ant-select.custom-select {
  height: auto !important;
}
.ant-select.custom-select .ant-select-arrow {
  color: #919191;
}
.ant-select.custom-select .ant-select-selector {
  width: 100%;
  border: 1px solid #d0d5dd !important;
  border-radius: 8px !important;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: auto !important;
  padding: 4px 15px !important;
}
.ant-select.custom-select .ant-select-selector .ant-select-selection-search-input {
  font-family: "Inter" !important;
  font-size: 12px;
  color: #000 !important;
  height: auto !important;
  margin-top: 4px;
  padding: 7px 3px;
  box-shadow: none !important;
}
.ant-select.custom-select .ant-select-selector .ant-select-selection-item {
  color: #000;
  font-size: 14px;
}
.ant-select.custom-select.p-small .ant-select-selector {
  padding: 1px 10px !important;
}
.ant-select.custom-select .ant-select-selection-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px !important;
  color: #c9c9c9;
  inset-inline-start: 15px !important;
}
.ant-select.custom-select .ant-select-selection-search {
  margin-inline-start: 0px !important;
}
.ant-select.custom-select.multi-select .ant-select-selector {
  padding: 1px 15px !important;
}
.ant-select.custom-select.ptb-1 .ant-select-selector .ant-select-selection-search-input {
  padding: 1px 3px;
}
.ant-select.custom-select.label-select {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 10px !important;
  font-size: 12px;
}
.ant-select.custom-select.label-select .ant-select-selection-placeholder {
  font-size: 13px !important;
}
.ant-select.custom-select.label-select .ant-select-selector {
  height: 10px !important;
  border: none !important;
  padding: 0px !important;
  box-shadow: none;
}
.ant-select.custom-select.label-select .ant-select-selector:focus {
  outline: none !important;
  box-shadow: none !important;
}
.ant-select.custom-select.label-select .ant-select-selector .ant-select-selection-item {
  color: #344054;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.ant-select.custom-select.label-select .ant-select-selector .ant-select-selection-search-input {
  margin-top: 0px !important;
  padding: 0px !important;
}

.ant-select-dropdown .ant-select-item-option-content,
.ant-select-selection-item {
  font-family: "Inter";
  font-size: 12px;
}

.ant-select-tree-list,
.ant-notification-notice-message {
  font-family: "Inter";
}

.ant-popover .ant-popover-inner .ant-popover-title {
  min-width: -moz-max-content;
  min-width: max-content;
  margin-bottom: 0px !important;
}

.ant-tabs.custom-tabs {
  font-family: "Inter";
}
.ant-tabs.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary);
}
.ant-tabs.custom-tabs .ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 600;
}
.ant-tabs.custom-tabs .ant-tabs-ink-bar {
  background: var(--primary);
}

.ant-tabs.custom-tabs {
  font-family: "Inter";
}
.ant-tabs.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary);
}
.ant-tabs.custom-tabs .ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 600;
}
.ant-tabs.custom-tabs .ant-tabs-ink-bar {
  background: var(--primary);
}

.ant-input-wrapper.ant-input-group {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.ant-input-wrapper.ant-input-group .ant-input-group-addon {
  font-family: "Inter";
  background-color: #fff;
  border-color: #d0d5dd;
}
.ant-input-wrapper.ant-input-group .ant-input-affix-wrapper {
  padding: 7px 11px;
  border-color: #d0d5dd;
  border-left: none;
  border-right: none;
}
.ant-input-wrapper.ant-input-group .ant-input-affix-wrapper:focus, .ant-input-wrapper.ant-input-group .ant-input-affix-wrapper:focus-within {
  box-shadow: none;
}
.ant-input-wrapper.ant-input-group input {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  box-shadow: none;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  font-family: "Inter";
}
.profile-wrapper h6 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
}
.profile-wrapper p {
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0px;
}
.profile-wrapper button {
  background-color: transparent;
  padding: 10px;
  border: none;
  font-size: 20px;
  color: #000;
  transition: 0.2s;
}
.profile-wrapper button:hover {
  color: #df1010;
}

.custom-checkbox {
  align-items: center;
}
.custom-checkbox span {
  color: #344054;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
}
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary);
  border-color: var(--primary);
}
.custom-checkbox .ant-checkbox-disabled .ant-checkbox-inner:after {
  border-color: #fff;
}

.custom-table table .ant-select.custom-select .ant-select-selector {
  padding: 3px 15px !important;
}
.custom-table table .ant-select.custom-select .ant-select-selection-search-input,
.custom-table table .ant-select.custom-select .ant-select-selection-item,
.custom-table table .ant-select.custom-select .ant-select-selection-placeholder {
  font-size: 12px !important;
}

.overflow-scroll {
  width: 90%;
  overflow-x: hidden;
  overflow-x: scroll;
}

.ant-popover {
  font-family: "Inter";
}

@media (max-width: 767px) {
  .custom-table-light .ant-table-content,
  .custom-table .ant-table-content {
    width: 280px;
    overflow-x: auto;
  }
  .pt-m-0 {
    padding-top: 0px;
  }
}/*# sourceMappingURL=antd.customize.css.map */