.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-top-left-boundary {
    position: absolute;
    top: calc(25% - 125px);
    left: calc(30% - 100px);
    width: 81px;
    height: 81px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top-left-radius: 10px;
  }
  
  .modal-top-right-boundary {
    position: absolute;
    top: calc(25% - 125px);
    left: calc(62% + 70px);
    width: 81px;
    height: 81px;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-top-right-radius: 10px;
  }
  
  .modal-bottom-left-boundary {
    position: absolute;
    top: calc(65% + 125px - 30px);
    left: calc(30% - 100px);
    width: 81px;
    height: 81px;
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-bottom-left-radius: 10px;
  }
  
  .modal-bottom-right-boundary {
    position: absolute;
    top: calc(65% + 125px - 30px);
    left: calc(62% + 70px);
    width: 81px;
    height: 81px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-bottom-right-radius: 10px;
  }
  
  .modal-button-top-left-boundary {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 13px;
    height: 13px;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-top-left-radius: 5px;
  }
  
  .modal-button-top-right-boundary {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 13px;
    height: 13px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-top-right-radius: 5px;
  }
  
  .modal-button-bottom-left-boundary {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 13px;
    height: 13px;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-bottom-left-radius: 5px;
  }
  
  .modal-button-bottom-right-boundary {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 13px;
    height: 13px;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-bottom-right-radius: 5px;
  }
  
  .modal-top-text {
    align-items: center;
    position: absolute;
    color: #ffffff;
    top: 3%;
    right: 30%;
    font-size: 16px;
    font-family: Inter;
    background: rgba(255, 255, 255, 0.1);
  }